* {
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

#app {
  min-width: 768px;
}

@font-face {
  font-family: 'Caveat-Regular';
  src: url('../font/Caveat-Regular.woff') format('woff');
}
